[submodule "cpto-tinyproxy"]
	path = cpto-tinyproxy
	url = git@github.com:jpbaking/cpto-tinyproxy.git
[submodule "cpto-srelay"]
	path = cpto-srelay
	url = git@github.com:jpbaking/cpto-srelay.git
[submodule "cpto-haproxy"]
	path = cpto-haproxy
	url = git@github.com:jpbaking/cpto-haproxy.git
[submodule "cpto-openvpn"]
	path = cpto-openvpn
	url = git@github.com:jpbaking/cpto-openvpn.git
